@model Nola.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<div class="row " style="margin-top: 100px">
    @*<div class="col-md-6" >*@
        @Html.ActionLink("Я ученик", "RegisterStudent", null, new { @class = "col-sm-6 col-md-6 col-lg-6 col-xs-12 btn btn-default" })
        @Html.ActionLink("Я преподаватель", "RegisterTeacher", null, new { @class = "col-sm-6 col-md-6 col-lg-6 col-xs-12 btn btn-default" })
    @*</div>*@
</div>



