@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Учётная запись заблокирована";
}

<hgroup>
    <h1 class="text-danger">Учётная запись заблокирована.</h1>
    <h2 class="text-danger">В зелях безопасности ваш аккаун был заблокирован. Попробуйте зайти через 5 минут.</h2>
</hgroup>
